.container{
 margin-bottom: 120px;
}
.orange{
 background-color: #fceae8;
 border-radius: 20px;
}
.carousel-item{
 padding: 20px 40px;
}
.price{
 color: #ff135f;
}
.buy-now-button{
 background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
 color: white;
 border: none;
 border-radius: 50px;
 padding: 9px 25px;
 cursor: pointer;
}
.cat1, .cat2, .cat3{
 padding: 10px 30px;
 border-radius: 20px;
}
.cat1{
 background-color: orange;
}
.cat2{
 background-color: orchid;
}
.cat3{
 background-color: blue;
}
.catagories h1{
 color: #fff;
}
.catagories img{
 width: 100px;
}
.card{
 border: none;
 border-radius: 10px;
 box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
 padding: .75rem 1.25rem;
 background-color: rgba(0,0,0,.03);
 border-top: 1px solid rgba(0,0,0,.1);
}
#Subscribe{
 height: 350px;
}
#Subscribe h6{
 color: gray;
}
footer{
 text-align: center;
 color: magenta;
}